.mainContainer {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #050508;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
